source https://nuget.org/api/v2

// Build
nuget Yaaf.AdvancedBuilding
nuget NuGet.CommandLine
nuget NUnit.Runners ~> 2

// Projects
nuget NUnit ~> 2
nuget Unquote
nuget FSharp.Core ~> 4.0.0
nuget Microsoft.ApplicationInsights
nuget Microsoft.Bcl.Async
nuget Microsoft.Bcl
nuget Microsoft.Diagnostics.Tracing.EventSource.Redist

// For Profile 111 (see CreateInsightsDependencies.fsx)

github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Net40/Extensibility/Implementation/TelemetryConfigurationFactory.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Constants.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/GlobalSuppressions.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/OperationTelemetryExtensions.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/TelemetryClient.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Utils.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Channel/InMemoryChannel.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Channel/InMemoryTransmitter.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Channel/ITelemetry.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Channel/ITelemetryChannel.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Channel/TelemetryBuffer.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Channel/Transmission.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/DataContracts/DependencyTelemetry.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/DataContracts/EventTelemetry.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/DataContracts/ExceptionHandledAt.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/DataContracts/ExceptionTelemetry.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/DataContracts/IJsonWriter.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/DataContracts/InnerExceptionCountExceededException.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/DataContracts/ISupportProperties.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/DataContracts/ISupportSampling.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/DataContracts/MetricTelemetry.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/DataContracts/PageViewTelemetry.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/DataContracts/PerformanceCounterTelemetry.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/DataContracts/RequestTelemetry.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/DataContracts/SessionState.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/DataContracts/SessionStateTelemetry.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/DataContracts/SeverityLevel.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/DataContracts/TelemetryContext.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/DataContracts/TraceTelemetry.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/IDebugOutput.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/IOperationHolder.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/ITelemetryInitializer.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/ITelemetryModule.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/ITelemetryProcessor.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/SdkVersionPropertyTelemetryInitializer.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/SequencePropertyInitializer.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/TelemetryConfiguration.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/TelemetryConfigurationExtensions.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/TelemetryModules.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Clock.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/CloudContext.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/ComponentContext.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/DebugOutput.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/DeviceContext.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/ExceptionConverter.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/FixedSizeQueue.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/IClock.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/InternalContext.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/IPlatform.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/IPlatformDispatcher.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/IRandomNumberBatchGenerator.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/JsonSerializer.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/JsonWriter.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/LocationContext.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/OperationContext.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/OperationTelemetry.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Property.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/SessionContext.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/SeverityLevelExtensions.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/SnapshottingCollection.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/SnapshottingDictionary.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/SnapshottingList.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/TaskTimer.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Telemetry.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/TelemetryContextExtensions.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/TelemetryItemExtensions.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/TelemetryProcessorChain.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/TelemetryProcessorChainBuilder.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/TransmissionProcessor.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/TypeExtensions.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/UserContext.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/WeakConcurrentRandom.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/XorshiftRandomBatchGenerator.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/AjaxCallData.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/AppInsightsTypes.g.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/ContextTagKeys.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/ContextTagKeys.g.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/DataPoint.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/DependencyKind.g.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/EventData.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/ExceptionData.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/ExceptionDetails.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/MessageData.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/MetricData.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/PageViewData.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/PageViewPerfData.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/PerformanceCounterData.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/PerformanceCounterData.g.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/RemoteDependencyData.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/RequestData.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/SessionStateData.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/SessionStateData.g.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/SeverityLevel.g.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/StackFrame.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/External/Tags.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Platform/PlatformSingleton.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/ApplicationNameProvider.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/CoreEventSource.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/DiagnoisticsEventCounters.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/DiagnoisticsEventThrottling.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/DiagnoisticsEventThrottlingDefaults.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/DiagnoisticsEventThrottlingManager.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/DiagnoisticsEventThrottlingScheduler.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/DiagnosticsEventListener.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/DiagnosticsListener.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/DiagnosticsTelemetryModule.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/EventMetaData.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/EventSourceKeywords.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/Extensions.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/F5DiagnosticsSender.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/IDiagnoisticsEventThrottling.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/IDiagnoisticsEventThrottlingManager.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/IDiagnoisticsEventThrottlingScheduler.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/IDiagnosticsSender.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/PortalDiagnosticsQueueSender.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/PortalDiagnosticsSender.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/SpinWait.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/ThreadResourceLock.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Extensibility/Implementation/Tracing/TraceEvent.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/Shared/Properties/AssemblyInfo.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/PCL/TimeSpanEx.cs
github Microsoft/ApplicationInsights-dotnet src/Core/Managed/PCL/Extensibility/Implementation/Platform/PlatformImplementation.cs
